# =====================
# Node / dependencies
# =====================
**/node_modules/
.pnpm-store/

# =====================
# Logs
# =====================
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
lerna-debug.log*

# =====================
# Diagnostic reports
# =====================
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# =====================
# Runtime data
# =====================
pids
*.pid
*.seed
*.pid.lock

# =====================
# OS / System files
# =====================
.DS_Store
Thumbs.db

# =====================
# IDEs / Editors
# =====================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.project

# =====================
# Build outputs
# =====================
dist/
build/
api/dist/
web/.next/
.next
out
.nuxt
.temp
.cache
.parcel-cache
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/

# =====================
# TypeScript
# =====================
*.tsbuildinfo

# =====================
# Dotenv
# =====================
.env
.env.*
!.env.example

# =====================
# Prisma
# =====================
api/prisma/generated/

# =====================
# Yarn / PNPM
# =====================
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# =====================
# Misc / Testing / Coverage
# =====================
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
.node_repl_history
*.tgz

# =====================
# Vite logs
# =====================
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
